
@{
    ViewBag.Title = "Afiliados";
}
    <h2 style="text-align:center; padding:50px">Afiliados</h2>

    <p>Brindamos nuestros servicios a diversas obras sociales, priorizando siempre el bienestar de nuestros pacientes. Y, hoy más que nunca, queremos estar cerca tuyo. </p>

    <button type="button" class="btn btn-outline-primary">Manual de Usuario PAMI</button>
    <button type="button" class="btn btn-outline-primary">Manual de Usuario PAMI2</button>